<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Cat Laser</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Raspberry Pi Cat Laser</h2>
                    <div id="video">
                        <!-- Set the MJPEG video stream URL in the image source below -->
                        <img style="cursor: crosshair;" src="http://192.168.1.100:8081/videostream.cgi?rate=50"/>
                        <div id="calibrateLayer"></div>
                    </div>
                </div>

                <div class="col-md-4">
                    <h3>Servo Positions</h3>
                    <div id="xaxis" class="form-group">
                        <label>X Axis Servo</label>
                        <div class="alert alert-danger"></div>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default decrease" type="button"><span class="glyphicon glyphicon-chevron-left"></span> -5</button>
                            </span>
                            <input type="text" class="form-control" name="xaxis" value="{{ model.getXAxis() }}"></input>
                            <span class="input-group-btn">
                                <button class="btn btn-default increase" type="button">+5 <span class="glyphicon glyphicon-chevron-right"></span></button>
                            </span>
                        </div>
                    </div>
                    <div id="yaxis">
                        <label>Y Axis Servo</label>
                        <div class="alert alert-danger"></div>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default decrease" type="button"><span class="glyphicon glyphicon-chevron-left"></span> -5</button>
                            </span>
                            <input type="text" class="form-control" name="yaxis" value="{{ model.getYAxis() }}"></input>
                            <span class="input-group-btn">
                                <button class="btn btn-default increase" type="button">+5 <span class="glyphicon glyphicon-chevron-right"></span></button>
                            </span>
                        </div>
                    </div>
                    <h3>Calibration</h3>
                    <div id="calibrationStep">
                        <p class="description"></p>
                        <p>
                            <button type="button" class="btn btn-default pull-left"></button>
                            <button type="button" class="btn btn-default pull-right"></button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/vendor/jquery-1.10.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/json2.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/raphael-min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/sylvester.js') }}"></script>
        <script src="{{ url_for('static', filename='js/calibration.js') }}"></script>
        <script>
            $(document).ready(function() {

                // Setup servo controls
                var setupAxis = function(axis) {
                    var group = $('#' + axis);
                    var input = group.find('input');
                    var erroralert = group.find('div.alert-danger');
                    var updateAxis = function() {
                        $.ajax({ url: '/set/servo/' + axis + '/' + input.val(),
                             type: 'PUT',
                             error: function(request) {
                                group.addClass('has-error');
                                if (request.status === 500) {
                                    erroralert.text($.parseJSON(request.responseText).result);
                                    erroralert.show();
                                }
                             },
                             success: function() {
                                group.removeClass('has-error');
                                erroralert.hide();
                             }
                        });
                    };
                    erroralert.hide();
                    input.change(function() {
                        updateAxis();
                    });
                    group.find('button.decrease').click(function() {
                        input.val(Number(input.val()) - 5);
                        updateAxis();
                    });
                    group.find('button.increase').click(function() {
                        input.val(Number(input.val()) + 5);
                        updateAxis();
                    });
                };
                setupAxis('xaxis');
                setupAxis('yaxis');

                var video = $('#video img').first();
                // Generate an event that fires when the video image is loaded.
                // Use both the load event on the image, and a 1 second timeout as
                // a fallback.  I found the fallback is necessary with Chrome 
                // because it sometimes never fires the load event for an MJPEG image.
                var videoLoad = $.Deferred();
                window.setTimeout(function() {
                    videoLoad.resolve();
                }, 1000);
                video.load(function() {
                    videoLoad.resolve();
                });
                
                // Wait for the video image to load, then for calibration setup to run.
                videoLoad.then(function() {
                    return calibration.setup('calibrateLayer', video.width(), video.height());
                }).done(function() {
                    // Start executing logic
                    // Start in play mode

                });
            });
        </script>
    </body>
</html>
