<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Cat Laser</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2>Raspberry Pi Cat Laser</h2>
                    <!--<iframe src="http://www.ustream.tv/embed/2924984" width="608" height="368" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>-->
                    <!--<iframe src="http://192.168.1.100:8081/live.htm" width="650" height="490" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>-->
                    <img id="video" style="cursor: crosshair;" src="http://192.168.1.100:8081/videostream.cgi?rate=50">
<!--                     <div id="targetpad">
                        <h4>Click below to target a spot with the laser:</h4>
                        <div>
                            <svg id="targetpad" xmlns="http://www.w3.org/2000/svg" width="320" height="240" style="background-color: #3BA3FF; cursor: crosshair;">
                                <rect width="310" height="230" x="5" y="5" style="fill: #ABABAB;"/>
                            </svg>
                        </div>
                        <div class="label label-danger"></div>
                    </div> -->
                </div>

                <div class="col-md-3">
                    <h3>Servo Position</h3>
                    <form role="form">
                        <div id="xaxis" class="form-group">
                            <label for="xaxis">X Axis Servo:</label>
                            <input type="text" class="form-control" name="xaxis" value="{{ model.getXAxis() }}"></input>
                            <span class="label label-danger"></span>
                        </div>
                        <div id="yaxis" class="form-group">
                            <label for="yaxis">Y Axis Servo:</label>
                            <input type="text" class="form-control" name="yaxis" value="{{ model.getYAxis() }}"></input>
                            <span class="label label-danger"></span>
                        </div>
                    </form>

                    <!-- <h3>Manual Targeting</h3>
                    <form role="form">
                        <div id="target" class="form-group">
                            <div class="form-group">
                                <label>X Axis:</label>
                                <input type="text" class="form-control" id="targetx" value=""></input>
                            </div>
                            <div class="form-group">
                                <label>Y Axis:</label>
                                <input type="text" class="form-control" id="targety" value=""></input>
                            </div>
                            <div class="form-group">
                                <span class="label label-danger"></span>
                                <button type="button" class="button button-default">Target</button>
                            </div>
                        </div>
                    </form>

                    <h3>Settings</h3>
                    <form role="form">
                        <div id="target" class="form-group">
                            <div class="form-group">
                                <label>X Axis Servo:</label>
                                <input type="text" class="form-control" id="targetx" value=""></input>
                            </div>
                            <div class="form-group">
                                <label>Y Axis Servo:</label>
                                <input type="text" class="form-control" id="targety" value=""></input>
                            </div>
                            <div class="form-group">
                                <span class="label label-danger"></span>
                                <button type="button" class="button button-default">Update</button>
                            </div>
                        </div>
                    </form> -->
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/vendor/jquery-1.10.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
        <script>
            $(document).ready(function() {
                var setupAxis = function(axis) {
                    var group = $('#' + axis);
                    var input = group.children('input');
                    var errorspan = group.children('span');
                    input.change(function() {
                        $.ajax({ url: '/set/' + axis + '/' + input.val(),
                                 type: 'PUT',
                                 error: function(request) {
                                    group.addClass('has-error');
                                    if (request.status === 500) {
                                        errorspan.text($.parseJSON(request.responseText).result);
                                    }
                                 },
                                 success: function() {
                                    group.removeClass('has-error');
                                    errorspan.text('');
                                 }
                            });
                    });
                }
                setupAxis('xaxis');
                setupAxis('yaxis');

                // $('#targetpad svg').click(function(ev) {
                //     var error = $('#targetpad > div.label-danger');
                //     $.ajax({ url: '/target/' + ev.offsetY + '/' + ev.offsetX,
                //                  type: 'PUT',
                //                  error: function(request) {
                //                     if (request.status === 500) {
                //                         error.text($.parseJSON(request.responseText).result);
                //                     }
                //                  },
                //                  success: function() {
                //                     error.text('');
                //                     location.reload(true);
                //                  }
                //             });
                // });

                var readServos = function() {
                    $.get('/get', function(data) {
                        $('#xaxis > input').val(data.xaxis);
                        $('#yaxis > input').val(data.yaxis);
                    });
                };

                $('#video').click(function(ev) {
                    var clickX = ev.clientX;
                    var clickY = ev.clientY;

                    console.log('Click ' + clickX + ' ' + clickY);

                    var videoTop = 190;
                    var videoBottom = 525;
                    var videoTopXMin = 190;
                    var videoTopXMax = 555;
                    var videoBottomXMin = 240;
                    var videoBottomXMax = 480;

                    var servoXBottom = 220;
                    var servoXTop = 298;
                    var servoYLeft = 440;
                    var servoYRight = 340;

                    if (clickY >= videoTop && clickY <= videoBottom) {
                        // Compute click Y location relative to target area
                        var relativeY = (clickY - videoTop)/(videoBottom - videoTop);
                        var minX = Math.round(videoTopXMin + relativeY*(videoBottomXMin - videoTopXMin));
                        var maxX = Math.round(videoTopXMax - relativeY*(videoTopXMax - videoBottomXMax));
                        // Compute X min and max for relative Y position
                        if (clickX >= minX && clickX <= maxX) {
                            // Compute relative X position
                            var relativeX = (clickX - minX)/(maxX - minX);
                            // Compute servo positions
                            var servoX = Math.round(servoXBottom + (1.0 - relativeY)*(servoXTop - servoXBottom));
                            var servoY = Math.round(servoYRight + (1.0 - relativeX)*(servoYLeft - servoYRight));
                            // Move the servos
                            $.ajax({ url: '/setboth/' + servoX + '/' + servoY,
                                     type: 'PUT',
                                     success: function() {
                                        readServos();
                                     }
                                });

                            // console.log(relativeX);
                            // console.log(relativeY);
                            // console.log(servoX);
                            // console.log(servoY);
                        }
                    }

                    
                });
            });
        </script>
    </body>
</html>
